[submodule "Frameworks/RFUI/Core"]
	path = Frameworks/RFUI/Core
url=git@192.168.1.99:RFUI/RFUICore
[submodule "Frameworks/RFUI/Alpha"]
	path = Frameworks/RFUI/Alpha
url=git@192.168.1.99:RFUI/Alpha
[submodule "Frameworks/AFNetworking"]
	path = Frameworks/AFNetworking
url=git@192.168.1.99:lib/AFNetworking
[submodule "Frameworks/RFUI/RFSegue"]
	path = Frameworks/RFUI/RFSegue
url=git@192.168.1.99:RFUI/RFSegue
