[submodule "Frameworks/RFUI/Core"]
	path = Frameworks/RFUI/Core
url=git@mobogit:RFUICore.git
[submodule "Frameworks/RFUI/Alpha"]
	path = Frameworks/RFUI/Alpha
url=git@mobogit:RFUIAlpha.git
[submodule "Frameworks/AFNetworking"]
	path = Frameworks/AFNetworking
url=git@mobogit:AFNetworking.git
[submodule "Frameworks/RFUI/RFSegue"]
	path = Frameworks/RFUI/RFSegue
url=git@mobogit:RFSegue.git
