[submodule "Frameworks/AFNetworking"]
	path = Frameworks/AFNetworking
	url = https://github.com/Chinamobo/AFNetworking.git
[submodule "Frameworks/RFUI/Core"]
	path = Frameworks/RFUI/Core
	url = https://github.com/RFUI/Core.git
[submodule "Frameworks/RFUI/RFSegue"]
	path = Frameworks/RFUI/RFSegue
	url = https://bb9z@github.com/RFUI/RFSegue.git
[submodule "Frameworks/RFUI/Alpha"]
	path = Frameworks/RFUI/Alpha
	url = https://github.com/RFUI/Alpha.git
